name: Build and Deploy Firebase
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Install Dependencies
        run: npm install
      - name: deploy
        run: npm run deploy-firebase -- --token ${{ secrets.FIREBASE_TOKEN }}
#   firebase:
#     name: Deploy Firebase
#     runs-on: ubuntu-latest

#     needs: build
#     steps:
#       - name: depoy
#         run: npm run deploy-firebase --token ${{ secrets.FIREBASE_TOKEN }}
